body {
	font-family: "mono space";
	background-color: gray;
	text-align: center;
}
div {
	text-align: center;
	margin: 0 auto;
	background-color: black;
	width: 259px;
	border-radius: 15px;
	padding: 15px;
}